<%= cell("decidim/announcement", t(".callout.help")) %>

<div class="form__wrapper">
  <div class="card" data-component="accordion" id="accordion-global">
    <div class="card-divider">
      <button class="card-divider-button" data-open="true" data-controls="panel-global" type="button">
        <%= icon "arrow-right-s-line" %>
        <h2 class="card-title"><%= t(".global.title") %></h2>
      </button>
    </div>

    <div id="panel-global" class="card-section">
      <div class="row column">
        <%= form.check_box :enabled, label: t(".extra_user_fields.extra_user_fields_enabled"), data: { toggle: "accordion-setup" } %>
      </div>
    </div>
  </div>

  <div class="card" data-component="accordion" id="accordion-setup" <%= "hidden" unless form.object.enabled %>>
    <div class="card-divider">
      <button class="card-divider-button" data-open="true" data-controls="panel-setup" type="button">
        <%= icon "arrow-right-s-line" %>
        <h2 class="card-title"><%= t(".extra_user_fields.section") %></h2>
      </button>
    </div>

    <div id="panel-setup" class="card-section">
      <%= render partial: "decidim/extra_user_fields/admin/extra_user_fields/fields/date_of_birth", locals: { form: form } %>
      <%= render partial: "decidim/extra_user_fields/admin/extra_user_fields/fields/country", locals: { form: form } %>
      <%= render partial: "decidim/extra_user_fields/admin/extra_user_fields/fields/postal_code", locals: { form: form } %>
      <%= render partial: "decidim/extra_user_fields/admin/extra_user_fields/fields/gender", locals: { form: form } %>
      <%= render partial: "decidim/extra_user_fields/admin/extra_user_fields/fields/phone_number", locals: { form: form } %>
      <%= render partial: "decidim/extra_user_fields/admin/extra_user_fields/fields/location", locals: { form: form } %>
      <%= render partial: "decidim/extra_user_fields/admin/extra_user_fields/fields/underage", locals: { form: form } %>
    </div>
  </div>
</div>
