<% if current_organization.extra_user_fields_enabled? %>
  <div id="card__extra_user_fields" class="form__wrapper form__wrapper-block">
    <h2 class="h4"><%= t(".signup.legend") %></h2>

    <% if current_organization.activated_extra_field?(:date_of_birth) %>
      <%= f.date_field :date_of_birth, id: "user_date_of_birth" %>
    <% end %>

    <% if current_organization.activated_extra_field?(:gender) %>
      <%= f.collection_select :gender, f.object.gender_options_for_select, :first, :last %>
    <% end %>

    <% if current_organization.activated_extra_field?(:country) %>
      <%= f.label :country do %>
        <%= f.custom_country_select :country %>
      <% end %>
    <% end %>

    <% if current_organization.activated_extra_field?(:postal_code) %>
      <%= f.text_field :postal_code %>
    <% end %>

    <% if current_organization.activated_extra_field?(:phone_number) %>
      <%= f.telephone_field :phone_number, placeholder: translated_attribute(f.object.phone_number_extra_user_field_placeholder), pattern: f.object.phone_number_extra_user_field_pattern %>
    <% end %>

    <% if current_organization.activated_extra_field?(:location) %>
      <%= f.text_field :location %>
    <% end %>

    <% if current_organization.activated_extra_field?(:underage) %>
      <% if current_organization.activated_extra_field?(:date_of_birth) %>
        <div class="fieldset hidden" id="underage_fieldset">
          <%= f.check_box :underage, id: "underage_checkbox", label:  t(".signup.underage", limit: current_organization.age_limit?) %>
          <div class="field <%= f.object.date_of_birth.present? ? '' : 'hidden' %>" id="statutory_representative_email_field">
            <%= f.text_field :statutory_representative_email %>
          </div>
        </div>
      <% else %>
        <div class="fieldset">
          <%= f.check_box :underage, id: "underage_checkbox", label:  t(".signup.underage", limit: current_organization.age_limit?) %>
          <div class="field hidden" id="statutory_representative_email_field">
            <%= f.text_field :statutory_representative_email %>
          </div>
        </div>
      <% end %>
    <% end %>
    <%# Block ExtraUserFields SignUpFormFields %>

    <%# EndBlock %>

  </div>
  <%= append_javascript_pack_tag "decidim_extra_user_fields.js" %>
  <%= append_stylesheet_pack_tag "decidim_extra_user_fields_css" %>
<% end %>
